.head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.display-boards {
  display: flex;
  justify-content: space-around;
}

.board-grid {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  border: 1px solid black;
  background-color: #000;
  gap: 1px;
  justify-content: center;
}

.cell {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enemy-board .cell {
  cursor: pointer;
}

.enemy-board .cell.hit {
  cursor: initial;
}

.my-board .ship {
  background-color: blue;
}

.ship.hit {
  background-color: red;
}

.info {
  margin-top: 20px;
  text-align: center;
}

.info-winner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
}
