.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  width: 100%;
  margin-top: 20px;
  /* margin-left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.btn-container::after {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -10%;
  background-image: linear-gradient(10.8deg, #119aff, #d227f1);
  width: 120%;
  height: 120px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: 400ms ease;
}

.btn-container:hover::after {
  transform: rotate(0);
}

.btn {
  background-color: #fff;
  border: none;
  min-width: 220px;
  padding: 15px 20px;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  color: var(--text);
  position: relative;
  z-index: 1;
}

.btn:hover {
  cursor: pointer;
}

.feedback {
  text-align: center;
  margin-top: 10px;
  padding-top: 40px;
  min-height: 150px;
}

.heading {
  padding: 0 5vw;
  font-size: 36px;
  line-height: 1.2;
  background-image: linear-gradient(10.8deg, #6672ff, #d227f1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 10 10 2px #fff;
}

.info-wrapper {
  display: block;
  margin-top: 30px;
  padding: 0 5vw;
  font-size: 24px;
  color: var(--text);
}

.info {
  list-style: none;
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  color: var(--text);
}

.info li {
  margin-bottom: 7px;
}

.whose-board {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--text);
}

.display-boards {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.display-boards .ship {
  display: none;
}

.board-grid {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  border: 3px solid #119aff;
  background-color: #119aff;
  gap: 3px;
  justify-content: center;
  position: relative;
}

/* .board-grid::after {
  position: absolute;
  width: 100%;
  word-spacing: 22.8px;
  bottom: -20px;
  left: 15px;
  content: "1 2 3 4 5 6 7 8 9 10";
  font-size: 10px;
  color: #119aff;
} */

.board-grid::before {
  position: absolute;
  height: 100%;
  width: 10px;
  line-height: 43px;
  top: 0px;
  left: -20px;
  content: "A B C D E F G H I J";
  font-size: 10px;
  color: #119aff;
}

.board-grid .cell:nth-child(n + 91)::before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 5px);
  color: #119aff;
  font-size: 10px;
}

/* .board-grid .cell:nth-child(10n + 1)::before {
  position: absolute;
  top: calc(50% - 5px);
  left: -20px;
  color: #119aff;
  font-size: 10px;
} */

/* .board-grid .cell:nth-child(1)::before {
  content: "A";
}
.board-grid .cell:nth-child(11)::before {
  content: "B";
}
.board-grid .cell:nth-child(21)::before {
  content: "C";
}
.board-grid .cell:nth-child(31)::before {
  content: "D";
}
.board-grid .cell:nth-child(41)::before {
  content: "E";
}
.board-grid .cell:nth-child(51)::before {
  content: "F";
}
.board-grid .cell:nth-child(61)::before {
  content: "G";
}
.board-grid .cell:nth-child(71)::before {
  content: "H";
}
.board-grid .cell:nth-child(81)::before {
  content: "I";
}
.board-grid .cell:nth-child(91)::before {
  content: "J";
} */

.board-grid .cell:nth-child(91)::before {
  content: "1";
}
.board-grid .cell:nth-child(92)::before {
  content: "2";
}
.board-grid .cell:nth-child(93)::before {
  content: "3";
}
.board-grid .cell:nth-child(94)::before {
  content: "4";
}
.board-grid .cell:nth-child(95)::before {
  content: "5";
}
.board-grid .cell:nth-child(96)::before {
  content: "6";
}
.board-grid .cell:nth-child(97)::before {
  content: "7";
}
.board-grid .cell:nth-child(98)::before {
  content: "8";
}
.board-grid .cell:nth-child(99)::before {
  content: "9";
}
.board-grid .cell:nth-child(100)::before {
  content: "10";
  left: calc(50% - 10px);
}

.my-board {
  pointer-events: none;
}

.enemy-board .cell {
  cursor: pointer;
}

.enemy-board .cell.hit {
  cursor: initial;
}

.cell {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
}

.ship {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}

.dnd-board .ship,
.my-board .draw-ship {
  background-color: var(--ship);
}

.hit {
  /* background-color: transparent; */
}

.hit::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(291 77% 66%);
}

.draw-ship.hit {
  background-color: hsl(300 75% 80%);
  background-color: hsl(327 92% 84%);
}

.draw-ship.hit::after {
}

/* .info-winner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
} */

@media screen and (max-width: 1000px) {
  .heading {
    font-size: 30px;
  }

  .info-wrapper {
    font-size: 20px;
  }

  .info {
    font-size: 20px;
  }

  .display-boards {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}
