.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  width: 100%;
  margin-top: 20px;
  /* margin-left: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.btn-container::after {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -10%;
  background-image: linear-gradient(10.8deg, #119aff, #d227f1);
  width: 120%;
  height: 120px;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: 400ms ease;
}

.btn-container:hover::after {
  transform: rotate(0);
}

.btn {
  background-color: #fff;
  border: none;
  padding: 15px 20px;
  outline: none;
  font-family: inherit;
  font-size: 20px;
  color: var(--text);
  position: relative;
  z-index: 1;
}

.btn:hover {
  cursor: pointer;
}

.feedback {
  text-align: center;
  margin-top: 10px;
  padding-top: 40px;
  min-height: 150px;
}

.heading {
  font-size: 38px;
  background-image: linear-gradient(10.8deg, #6672ff, #d227f1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 10 10 2px #fff;
}

.info-wrapper {
  display: block;
  margin: 30px auto 20px;
  font-size: 24px;
  color: var(--text);
}

.info {
  list-style: none;
}

.info li {
  margin-bottom: 7px;
}

.whose-board {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--text);
}

.display-boards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.display-boards .ship {
  display: none;
}

.board-grid {
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
  border: 3px solid #119aff;
  background-color: #119aff;
  gap: 3px;
  justify-content: center;
}

.my-board {
  pointer-events: none;
}

.enemy-board .cell {
  cursor: pointer;
}

.enemy-board .cell.hit {
  cursor: initial;
}

.cell {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
}

.ship {
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}

.dnd-board .ship,
.my-board .draw-ship {
  background-color: var(--ship);
}

.hit {
}

.hit::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(291 77% 66%);
}

.draw-ship.hit {
  background-color: hsl(300 75% 80%);
  background-color: hsl(327 92% 84%);
}

.draw-ship.hit::after {
}

.info {
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

.info-winner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .heading {
    font-size: 30px;
  }

  .display-boards {
    flex-direction: column;
    align-items: center;
  }
}
