:root {
  --bg: rgb(245 251 255);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", "VT323", monospace;
  font-size: 30px;
  background-color: var(--bg);
}

#root {
  min-height: 100vh;
}

.hide {
  display: none;
}
