:root {
  --bg: rgb(245 251 255);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "VT323", monospace;
  font-size: 30px;
  background-color: var(--bg);
}

.hide {
  display: none;
}
